html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.video-player-container {
    background: linear-gradient(180deg, #010b78 0%, #000000 100%);
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 100vw;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.back-button {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 24px;
    cursor: pointer;
}

.topic {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topic h2 {
    font-size: 50px;
    font-weight: 900;
}

.topic h1 {
    font-size: 25px;
    font-weight: 700;
    margin-top: 10px;
}

.video-player {
    position: relative;
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-player video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.time-stamp {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}

.controls {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 10px;
}

.controls button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: white;
}

.buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    outline: none;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Button Styles */
.download-button,
.learn-more-button {
    color: #1a1a1a;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    color: white;
    transition:
        background-color 0.3s ease,
        color 0.3s ease,
        transform 0.3s ease;
}

.download-button img,
.learn-more-button img {
    width: 50px;
    height: 50px;
}

.download-button span,
.learn-more-button span {
    margin-top: 5px;
    text-align: center;
}

.download-button:hover {
    background-color: #00ccff;
    color: #000000;
    transform: scale(1.05);
}

.learn-more-button:hover {
    background-color: #00ccff;
    color: #000000;
    transform: scale(1.05);
}
